.show-order {
    padding: 10px; 
  }
  .order {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;   
    position: relative;
    /* display: flex; */
    border-radius: 4px;
  }      
  #delivery{ 
    position: absolute;
    top: 83%;
  }
  .modal-button-yes,.modal-button-no{ 
   width: 50px; 
   height: 25px; 
   background-color: rgb(99, 99, 99); 
   border: none; 
   margin: 0px 3px; 
   transition: 0.3s ease;
  }  
  .modal-button-yes:hover,.modal-button-no:hover{ 
    background-color: rgb(65, 64, 64); 
   } 
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;  
  }
  #order-details{ 
    width: 35vw;
  } 
  .placed-orders-container {
    width: 100%;
    overflow-x: hidden; /* Enable horizontal scrolling on smaller screens */
  } 
  .confirm-order-container {
    width: 100%;
    overflow-x: hidden; /* Enable horizontal scrolling on smaller screens */
  }
   .Order-image{  
    position: absolute;  
    right: 10%; 
    top: 30%;
   }
  .Order-image img{  
    height: 80px; 
    width: 80px;
  }
  
  .order h3 {
    margin: 0 0 10px 0;
  } 
  #Cancel{ 
    width: 200px;   
    margin-left: 50%; 
    margin-bottom: 0.5%; 
    background-color: rgb(255, 3, 3);  
    color: black;
    border: none;
  }
  .place{ 
    font-family: jura; 
    margin: 0 39%; 
    width: 400px;
  }
  .order p {
    margin: 5px 0;
  } 
    
  .placed-order{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px; 
    width: 75vw;
  }
 #delivery{  
    position: absolute;
    width: 200px; 
    background-color: rgb(65, 202, 11); 
    color: black; 
    right: 5%;  
    bottom: 5%;
 }  
 @media (max-width: 1024px) { 
    #delivery{ 
       width: 150px; 
       font-size: small; 
       padding: 1px 1px;
     }   
     #Cancel{  
        width: 150px; 
        font-size: small;  
        margin-left: 50%;  
        margin-bottom: 1%;  
        padding: 1px 1px;
     } 
     .placed-order{
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px; 
      width: 99vw;
    }
 } 

 @media (max-width: 767px) { 
    #delivery{ 
       width: 120px; 
       font-size: small; 
       padding: 1px 1px;
     }    
     .placed-order{
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px; 
      width: 99vw;
    } 
    .place{ 
      font-size: large;
      margin: 15px 0;
    } 
    #place{ 
      margin: 15px 30%; 
    }
    
     #Cancel{  
        width: 120px; 
        font-size: small;  
        margin-left: 20%;  
        margin-bottom: 4.5%;  
        padding: 1px 1px;
     }
     .Order-image{  
      display: none;
       } 
       #Cancel{  
        width: 120px; 
        font-size: small;  
        margin-left: 20%;    
        margin-bottom: 2.5%;
     }    
     .modal-button-yes,.modal-button-no{ 
        font-size: small;
       }  
     #order-details{ 
        width: 85vw; 
        margin-bottom: 25px;
       }  
 } 
 @media (max-width: 375px) { 
    #delivery{ 
       width: 100px; 
       font-size: small; 
     }    
     .place{ 
      font-family: jura; 
      margin: 0 25%; 
      width: 200px;
    }
     #Cancel{  
        width: 100px; 
        font-size: small;  
        margin-left: 18%;    
        margin-bottom: 3%;
     }   
     #order-details{ 
        width: 75vw; 
        margin-bottom: 25px;
       }
    } 

    .placed-orders {
      margin-top: 20px;
    }
  
    
    .placed-order p {
      margin: 5px 0;
    }
    
    .placed-order strong {
      font-weight: bold;
    }
    
    .placed-order h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    