@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap'); 

  .login{ 
    background-color: rgb(25, 29, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-container { 
    height: 45vh;   
    background-color: rgba(68, 68, 71, 0.5);
    display: flex;  
    border-radius: 5px;
    align-items: center;   
    justify-content: center;
    padding: 20px;
  }
  
  .login-form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem; 
    padding: 7px;
  } 
  .login-form p{  
    color: white; 
    font-family: Jura; 
    font-size: medium;
  }
  
  .login-form input , .password{
    width: 22vw; 
    background-color: rgba(139, 139, 139, 0.3);
    border: none; 
    outline: none; 
    color: white; 
    padding: 0.5rem; 
  }
  
  .login-form button {
    align-self: center;
    background-color: rgb(9, 135, 167); 
    color: white; 
    border: none;   
    font-family: Jura;
    width: 23vw; 
    font-size: medium;
    padding: 0.5rem 1rem; 
    cursor: pointer; 
  }
  
  .login-form button:hover {
    background-color: rgb(57, 156, 173); 
  }
   
  /* media queries for responsiveness */ 
  @media (max-width: 560px) {
    .login-container {
      height: 40vh; 
      width: 50vw; 
    } 
    .login-form input , .password{
        width: 38vw; 
        height: 3.5vh;  
    } 
    .login-form button { 
        width: 45vw;
    } 
  } 
  @media (min-width:568px)and (max-width: 1060px) {
    .login-container {
      height: 40vh; 
      width: 50vw; 
      align-items: center; 
      justify-content: center;
    } 
    .login-form input , .password{
        width: 30vw;  
    } 
    .login-form button { 
        width: 32vw;
    } 
  }
  