/* src/navbar.css */

  .menu{ 
    display: none; 
    height: 5vh; 
    width: 5vw;  
    position: absolute; 
    left: 5px;
    filter: invert(84%) sepia(2%) saturate(24%) hue-rotate(347deg) brightness(106%) contrast(100%);
  } 
  .Add-cart img{ 
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); 
    height:30px; 
    width: 33px; 
} 
.Add-cart{ 
  margin-right: 2vw;
}
  .navbar {
    height: 12vh;
    width: 100vw;
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;  
    justify-content: space-between;
  }
  
  .list {
    list-style: none;
    display: flex; 
    margin-right: 40vw;
    gap: 5vw;
    align-items: center; 
    margin-left: 10vw;
    padding: 0 20px;
  }
  
  .list a {
    text-decoration: none;
    font-family: 'jura', sans-serif;
    color: white;
  }
  
  .list a:hover {
    cursor: pointer;
    color: rgb(207, 206, 206);
    transition: 0.3s ease;
  }
  
  .mobile-nav {
    display: none; /* Initially hide mobile-nav */
    position: fixed; /* Fixed position for overlay */
    top: 0; 
    left: 0;
    height: 100vh; 
    width: 50vw; 
    background-color: rgb(0, 0, 0);
    z-index: 1000; 
  }
  
  .mobile-nav-heading {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
  }  
  .Cross {
    height: 35px;
    width: 35px;
    margin-left: auto;  
    filter: invert(84%) sepia(2%) saturate(24%) hue-rotate(347deg) brightness(106%) contrast(100%);
  }
  .hr {
    width: 100%; 
    border: none; 
    border-top: 1px solid #8a8989; 
    margin: 0; /* Remove default margin if needed */
  }
  .mobile-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.75vh;   
    margin-top: 2.5vh;
  }   
  
  .mobile-list li{ 
   padding: 16px; 
  }
  .Logo{ 
    height: 120%; 
    width: 11.5%;
  }  

  .Logo img{ 
    height: 50px;  
    margin-top: 25px;
    width: 275px; 
  }
  .mobile-list a {
    color: rgb(177, 177, 177);
  } 
  @media (max-width: 1280px) {
  .Logo{ 
    width: 17%;
  }
  }
  @media (max-width: 1024px) {
    .Logo img{ 
      height: 60px;  
      margin-top: 75px;
      width: 350px;  
     margin-left: -20px;
    }
    .list {
      list-style: none;
      display: flex; 
      margin-right: 5vw; 
       gap: 3vw;
    }
    }
    
  @media (max-width: 768px) {
    .list {
      display: none; /* Hide old navbar items on small screens */
    }  
    .menu{ 
        display: block;  
          height: 5vh; 
          width: 8vw;  
    }   
    .mobile-list a{  
      font-size: x-large; 
      font-family: jura;

    }

    .navbar { 
     justify-content: center; 
     align-items: center; 
     height: 9.5vh;
    }
    .Logo img{ 
      height: 60px;  
      margin-top: 45px;
      width: 310px;  
     margin-left: -20px;
    }
    .mobile-nav {
      display: block;   
        transform: translateX(-55vw);  
        transition: 0.45s ease;/* Slide left container off-screen */
      }  
      .mobile-nav.active {
        transform: translateX(0);
        z-index: 1000; 
        width: 70vw;
        transition: transform 0.45s ease, z-index 0s; 
      }  
      .Cross {
        height: 30px;
        width: 30px;
      }  
      .Nav-Footer{  
       position: absolute; 
       bottom: 3vh; 
       left: 10%;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
      }
      .Nav-Footer p{ 
       font-size: 11px; 
       color: #c7c3c3;
      } 
      .p2{ 
        font-size: 9px;  
        position: relative; 
        top: 3px;
        color: #c7c3c3;
      }
  }
   
  @media (max-width: 568px) {
    .Logo img{ 
      height: 50px;  
      margin-top: 30px;
      width: 300px;    
      position: relative; 
      right: 90%;
    }  
    .menu{ 
        height: 6vh; 
        width: 11vw;   
  } 
  .Cross {
    height: 27px;
    width: 28px;
  }
    } 
   @media (max-width: 468px) { 
    .Logo img{ 
      height: 40px;  
      margin-top: 40px;
      width: 300px;    
      position: relative; 
      right: 125%;
    }  
   } 
    
    @media (max-width: 412px) {
      .mobile-list a{  
        font-size: large; 
        font-family: jura;
      }  
      .Logo img{ 
        height: 35px;  
        margin-top: 36px;
        width: 250px;    
        position: relative; 
        right: 100%;
      }  
      .mobile-list {  
        gap: 1.26vh;
      } 
      } 
      @media (max-width: 375px) { 
        .Logo img{ 
          height: 30px;  
          margin-top: 35px;
          width: 240px;    
          position: relative; 
          right: 100%;
        }  
      }