@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.Review-Heading{ 
   width: 100vw; 
   height: 10vh;  
   margin-top: 5vh;
   display: flex; 
   justify-content: center; 
   align-items: center;     
} 
.write-review-button{ 
 width: 100vw; 
 height: 8vh; 
 display: flex; 
 justify-content: center; 
 align-items: center;
}     
.load-more-button{ 
   display: flex; 
   justify-content: center; 
   align-items: center;  
   margin: 25px 0;
} 
.Review-Heading h2{ 
   font-size: 27px;
} 
.load-more{ 
   margin-bottom: 35px; 
   background-color: rgb(147, 2, 190); 
   cursor: pointer;   
   color: rgb(230, 230, 230); 
   font-family: jura;
   border-radius: 3px;
   border: 1px solid black;
   padding: 12px 24px;
}
.Colour-change{ 
color: rgb(200, 19, 236);
}
.reviews-list{ 
   display: flex; 
   flex-wrap: wrap; 
   gap: 20px; 
   justify-content: center; 
   align-items: center;  
   padding: 10px;
   margin: 50px 0;
}  

#Review-Msg{ 
color: rgb(190, 190, 190); 
font-size: 15px; 
margin-top: 8px; 
margin-left: 0;
} 
.review-date{ 
   font-size: 11.5px;
}
.review-item{ 
   display: flex; 
   flex-direction: column; 
   padding: 30px 30px;   
   overflow: hidden;  
   border-radius: 0 25px 0 0; /* top-left, top-right, bottom-right, bottom-left */
   width: 400px; 
   height: 250px; 
   overflow-y: auto;
   border: 1px solid rgb(160, 160, 160);  
}  

#Review-mail{ 
   color: rgb(71, 219, 224); 
   font-size: 13px; 
   margin-left: 0px;
} 
.write-review-button span{ 
 width: 230px;   
 height: 40px;
 display: flex; 
 justify-content: center;    
 background-color: rgb(10, 10, 10);
 align-items: center;
 border: 1px solid rgb(160, 159, 159); 
 cursor: pointer; 
 font-weight: 100;  
}   
.write-review-button span:hover{  
background-color: rgb(189, 189, 189); 
color: black; 
transition: 0.4s ease-in; 
font-weight: 350;
}
@media (max-width: 768px) {  
   .review-item{ 
   width: 75vw;
   } 
   .Review-Heading h2{ 
      font-size: 20px;
   }
}